<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3" i18n>Schools</span>
            <div class="text-900 font-medium text-xl" i18n>100</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="fas fa-building-columns text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium" i18n>24 new </span>
        <span class="text-500" i18n>since last survey</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3" i18n>Staff</span>
            <div class="text-900 font-medium text-xl" i18n>200</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="fas fa-users text-orange-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium" i18n>%50+ </span>
        <span class="text-500" i18n>since last academic year</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3" i18n>Students</span>
            <div class="text-900 font-medium text-xl" i18n>25500</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="fas fa-graduation-cap text-cyan-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium" i18n>500  </span>
        <span class="text-500" i18n>newly admitted</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3" i18n> Student Files</span>
            <div class="text-900 font-medium text-xl" i18n>400 added</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
               style="width:2.5rem;height:2.5rem">
            <i class="fas fa-folder text-purple-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium" i18n>100 </span>
        <span class="text-500" i18n>pending</span>
      </div>
    </div>
  </div>
</div>


<div class="surface-card p-4 shadow-2 border-round">
  <div class="text-3xl font-medium text-900 mb-3" i18n>School Administration Tree</div>
  <div class="font-medium text-500 mb-3" i18n>Dean, Head of departments.</div>
  <div class="border-2 border-dashed surface-border" style="height: 150px"></div>
</div>
