<section class="section">
  <div class="py-2">
    <p-dropdown (change)="updateSchool()" [(ngModel)]="schoolId" [disabled]="schoolSelectDisabled" [options]="schools"
                optionLabel="name"></p-dropdown>
  </div>
  <app-form-school-upsert [school]="school"></app-form-school-upsert>
  <div>
    <p-button
      (click)="visitSchoolDashboardAction()"
      [icon]="faIcon('up-right-from-square')"
      i18n label="Visit Dashboard">
    </p-button>
  </div>
</section>

<app-org-schools-assign-admin *ngIf="school?.id" [schoolId]="school?.id"></app-org-schools-assign-admin>
