<section class="section">
  <p-table [title]="'School Staff'" [value]="staff">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template let-d pTemplate="body">
      <tr>
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td>{{d.role}}</td>
        <td>
          <p-button label="View"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
